@import "../../../../assets/styles/common.css";

.content {
	h1, h2, h3, h4 {
		text-align: left;
		font-family: 'Roboto';
		line-height: 1.2em;
	}
	h1 {
		font-weight: 500;
		font-size: 1.8em;
		margin-top: 0.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.1em;
	}

	strong {
		font-weight: bold;
	}

	a:hover {
		text-decoration: underline;
	}

	background-color: #FFF;
	
	color: #6d6d6d;
	font-family: 'Lora';
	font-size: 20px;
	line-height: 1.58em;
	word-break: break-word;

	margin: 0 auto;
	margin-top: 2em;
	padding-bottom: 3em;
	flex: 1 0 auto;
	-webkit-transform: translateZ(0);
	width: 90%;
	max-width: 700px;
	overflow-x: hidden;
}

.content h1, .content h2 {
	color: #000;
	display: block;
	margin-left:0;
}