@import "../../../../assets/styles/common.css";

.content {
	padding: 4em 2em 2em 1em;
	background-color: #FFF;
	color: #9d9d9d;
	height: 100%;
}

@media (--break-lg) {
	.content {
		padding-left: 3em;
		padding-right: 3em;
	}
}

.content h1, .content h2 {
	color: #000;
	display: block;
	margin-left:0;
}