@import "../../../../assets/styles/common.css";

.content {
	padding: 2em 2em 2em 1em;
	background-color: #FFF;
	color: #6d6d6d;
	text-align: justify;
	h1, h2, h3, h4 {
		text-align: left;
	}
	h1 {
		font-weight: normal;
		margin-top: 0.5em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.1em;
	}

	a:hover {
		text-decoration: underline;
	}

	padding-bottom: 3em;
	word-break: break-word;
	flex: 1;
}

@media (--break-lg) {
	.content {
		padding-left: 3em;
		padding-right: 3em;
	}
}

.content h1, .content h2 {
	color: #000;
	display: block;
	margin-left:0;
}