@import "../../../assets/styles/common.css";

.link {
	font-family: 'Roboto';
	display: none;
	@media (--break-lg) {
		display: inline;
	}
	position: absolute;
	right: 0;
	top: 1.5em;
	text-decoration: none !important;
	&:hover {
		text-decoration: underline !important;
	}
}