.card {
	font-size: 14px;
	margin: 1em;
}


.cardTitle {
	padding: 0.9rem !important;
	.title {
		text-align: left;
		margin: 0;
		font-size: 1.4em !important;
	}
	.subtitle {
		margin: 0;
	}
	[data-react-toolbox=avatar] {
		height: 60px;
	}
}

.cardText {
	padding: 0.8rem 0.8rem;
	padding-bottom: 0;
	line-height: 1.4em;
}

.cardActions {
	padding-top: 0;
}

.button {
	font-size: 1.2em;
}