$primary: #FFFFFF;
$secondary: #42c3cf;
$smallDevice: 375px;


@custom-media --break-sm-max (max-width: 384px);
@custom-media --break-md-max (max-width: 576px);
@custom-media --break-lg-max (max-width: 768px);

@custom-media --break-sm (min-width: 384px);
@custom-media --break-md (min-width: 576px);
@custom-media --break-lg (min-width: 768px);