@import "../../node_modules/normalize.css/normalize.css";

@import "./common.css";
@import "./grid.css";

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto';
	color: color($primary lightness(85%));
	font-weight: 300;
	font-size: 18px;
}

address {
	font-style: normal;
}

@for $i from 1 to 3 {
    .p-t-$i { padding-top: $(i)em; }
    .p-r-$i { padding-right: $(i)em; }
    .p-b-$i { padding-bottom: $(i)em; }
    .p-l-$i { padding-left: $(i)em; }
    .m-t-$i { margin-top: $(i)em; }
    .m-r-$i { margin-right: $(i)em; }
    .m-b-$i { margin-bottom: $(i)em; }
    .m-l-$i { margin-left: $(i)em; }
}

a:link, a:visited, a:hover {
	text-decoration: none;
	color: color($primary lightness(10%));
}

.secondary-color {
	color: $secondary;
}

.hidden-lg-up {
	@media (--break-lg) {
		display: none !important;
	}	
}

.hidden-md-up {
	@media (--break-md) {
		display: none !important;
	}	
}

.hidden-sm-down {
	@media (--break-md-max) {
		display: none !important;
	}	
}

.text-center {
	text-align: center;
}

#app {
	height: 100%;
}

h1, h2 {
	font-size: 2.2em;
	font-family: "Roboto";
	color: $primary;
	display: inline-block;
	@media screen and (width > $smallDevice) {
		margin-left: 1em;
	}
	font-weight: 300;
}

h3 {
	font-family: "Roboto";
	color: $primary;
	font-weight: normal;	
}

.topSection, .middleSection, .bottomSection {
	flex:1;
	text-align: center;
}

.bottomSection {
	padding: 1em;
	color: $primary;
	text-align: right;
	width: 100%;
	align-self: flex-end;
	position: relative;
}

@media (--break-lg) {
	.topSection {
		flex: 2;
	}
}

.footerSection {
	position: absolute;
	bottom: 0em;
	right: 0em;
	left: 0em;
	padding: 1em;
	color: $primary;
	text-align: right;
}
