@import "~react-toolbox/lib/button/theme";

.appBar {
	background-color: #FFF;
	min-height: 4em;
	max-height: 4em;
	font-weight: normal;
	padding-right: 0;
	position: fixed;
	width: 100%;
	box-sizing: border-box;

	@media (max-width: 576px) {
		padding-left: 0;
	}
}

.horizontal {
	padding: 0;
	height: 100%;
	display:none;

	@media (min-width: 960px) {
		display:flex;
	}
	a {
		display: flex;
		padding: 0 1em;
		align-items: center;
		justify-content: center;
		color: #000;
		position: relative;

		&.activeLink {
			color: #42c3cf;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #42c3cf;
			height: 0;
			opacity: 0;
			transition: height 0.2s, opacity 0.2s;
		}
		&:hover:before {
			height: 8px;
			opacity: 1;
		}
	}	
}
