$icon-color: #999;

:global(.resp-sharing-button__link),
:global(.resp-sharing-button__icon) {
  display: inline-block
}

:global(.resp-sharing-button__link) {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

:global(.resp-sharing-button) {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

:global(.resp-sharing-button__icon svg) {
  width: 1em;
  height: 1em
}

:global(.resp-sharing-button span) {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
:global(.resp-sharing-button__icon) {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
:global(.resp-sharing-button__icon--solid),
:global(.resp-sharing-button__icon--solidcircle) {
  fill: #fff;
  stroke: none
}

:global(.resp-sharing-button--pinterest) {
  background-color: $icon-color;
}

:global(.resp-sharing-button--pinterest:hover) {
  background-color: #8c0615
}

:global(.resp-sharing-button--linkedin) {
  background-color: $icon-color;
}

:global(.resp-sharing-button--linkedin:hover) {
  background-color: #046293
}

:global(.resp-sharing-button--whatsapp) {
  background-color: $icon-color;
}

:global(.resp-sharing-button--whatsapp:hover) {
  background-color: #1da851
}

:global(.resp-sharing-button--facebook) {
  background-color: $icon-color;
  border-color: $icon-color;
}

:global(.resp-sharing-button--facebook:hover),
:global(.resp-sharing-button--facebook:active) {
  background-color: #2d4373;
  border-color: #2d4373;
}

:global(.resp-sharing-button--twitter) {
  background-color: $icon-color;
  border-color: $icon-color;
}

:global(.resp-sharing-button--twitter:hover),
:global(.resp-sharing-button--twitter:active) {
  background-color: #2795e9;
  border-color: #2795e9;
}

:global(.resp-sharing-button--google) {
  background-color: $icon-color;
  border-color: $icon-color;
}

:global(.resp-sharing-button--google:hover),
:global(.resp-sharing-button--google:active) {
  background-color: #c23321;
  border-color: #c23321;
}

:global(.resp-sharing-button--tumblr) {
  background-color: $icon-color;
  border-color: $icon-color;
}

:global(.resp-sharing-button--tumblr:hover),
:global(.resp-sharing-button--tumblr:active) {
  background-color: #222d3c;
  border-color: #222d3c;
}

:global(.resp-sharing-button--email) {
  background-color: $icon-color;
  border-color: $icon-color;
}

:global(.resp-sharing-button--email:hover),
:global(.resp-sharing-button--email:active) {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
