.content {
	margin: 0 auto;
	margin-top: 2em;
	padding-bottom: 3em;
	flex: 1 0 auto;
	-webkit-transform: translateZ(0);
	width: 90%;
	max-width: 900px;
	overflow-x: hidden;

	color: #6d6d6d;

	h1 {
		color: #000;
		margin-left: 0.2em;
		font-weight: 500;
		font-size: 36px;
		margin-top: 1.7em;
	}
}